.container{
   display: grid;
   grid-gap: 3px;
   grid-template-columns: 1fr;
   grid-template-rows: auto 50px 1fr auto;
   grid-template-areas: 
    "h"
    "f"
    "b"
    "g";
    font-family: 'Open Sans', sans-serif;
}

.header{ 
    width:auto;
    justify-self: center;
    grid-area: h;
    padding-top: 50px;
}

#logo{
    height:200px;
    width: auto;
    justify-self: center;
}

.formContainer{ 
    
    justify-self: center;
    grid-area: f;
}
#userInput{ 
    width:500px;
    height: 30px;
    border-radius: 50px;
    border: solid #bbbbbb 1px;
    padding-left:15px;
}

#userInputBtn{
    background-color:#F5F5F5;
    border-radius: 3px;
    height: 30px
}



#buttonContainer{
    justify-self: center;
    grid-area: b;
    padding:5px;

}

#buttonContainer button{
    background-color:#F5F5F5;
    border-radius: 3px;
    height: 30px;
    margin: 5px;
}

#gifContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-area: g;
    padding: 10px
}

.elementContainer{
    justify-self: center;
}
.elementContainer h3{
font-size: 12px;
}
.elementContainer p{
    font-size: 11px;
    }

#gifContainer img{
    padding-bottom: 10px;
}

#gifContainer img:hover{
    
    box-shadow: 0 0 10px rgb(102, 102, 102);
}

@media only screen and (max-width: 600px){
    .header{ 
        padding-top: 10px;
    }
    
    #logo{
        height:100px;
    }

    #userInput{ 
        width:200px;
        height: 20px;
    }
    #userInputBtn{
        height: 20px
    }
    #buttonContainer button{
        height: 20px;
    }
    #gifContainer{
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        margin: 10px;
        width: 300px;
        overflow: hidden;
    }
    #gifContainer img{
        justify-self: center;
        height: 95px;
    }
}